
<head>
  <style>
    body {
      margin: 0;
    }
  </style>

  <script src="https://unpkg.com/3d-force-graph"></script>
  <!--<script src="../../dist/3d-force-graph.js"></script>-->
</head>

<body>
  <div id="3d-graph"></div>

  <script>
    const gData = {
      links: [
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "3CTPRyUbCKkByGmAVvDV6ReZXT1WfV3UPd",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "target": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qp6k6tux6g3gr3sxw94g9tx4l0cjtu2pt65r6xp"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qqp8pwq277d30cy7fjpvhcvhgztvs7v0nudgul5"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "32LZ4wWwEhTzwtqAm2gPauktYZb5kQ6C5a"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3BMEXuoRza9EimRGSHGrwPmyFNUqWFpu8t"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qld27dqu6wrl4tmjdr8tl55qavmghwrr4ldh7qn"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3BMEXtMSkRt3wwXKytg7Nj86utJeSbwFHx"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1q8m9h3atn4cqeqhu3ekswdqxchp3g7d4v3qv3wm"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "14QZ2wB8b8ZQNgb978Lwptdc8Vhv5aZQM2"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3L8JcsWNa3kuVaQJxAE1hhcoBT17rcJA6b"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1q7p6edvd4zvtya8uj366c23dan8pvlp503spucu"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1q93ecep2338dy9aauwyvh4g22t49rnedxl8z0tj"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1ql0wlnu80l8kctjzkzlzd72sdjqwuvruvgepceq"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1q3ldtrr6xtpx8jam5gw68aaexz2wtluj0qullvr"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "19GwykQiTA8PRD2vWJmRF8xiMdJw7SZZhU"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "1LmbAuieDKqZeQCUn8F5hrf87ocL3b1whA"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3AiKChFEc5fpBvsi2Pr2YsFPWgrFeVQkXC"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qyv4zv0wjn299kx4yz6g7v6g6400wqgzcqgw9vx"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "17Bmh2aNne8sR9kRwMwDzWHAYeZaZPRm28"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3DoSXzGZFbUnw4dC5Cwj7GZ7aKPLwFcKSg"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3AoRjdkUFE4nfRtArRC8r1MnUjUPmuLdDP"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3KBsR6Ld255Tw5hNR4S6KaX5SXxvRF6jv3"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1q6fejm4r866tmt8ptf42juedv5gevlv2qt72agq"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "1L8ZtgE7tAuySsWhQn7SqdZwJPuMzqYmTx"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "1BsRYrL6FWjnX76nyvQUQXcv8QL2oZpJ6x"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qvstwzsrfml43jrclsp68220l4lx5lw3kwf7dp0"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3DAJaTi9mZhHupEJ3ZEfAXCnXdqJmS8a5D"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "34djvfuqD127KsUDH6e5q4mJUHBzWK29ki"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qecs672j9dpvwr56zeldgf3swtlv3dad52wzuta"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "1P1198g3tN65qt9j5gixb2jsQpDvDwgFj3"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1q8ezyqqntqf2tlt6ensx2zqhj50q0q9ashvx4jt"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qshkncv7tkpye7z0z4a3k9yw2e73whha9gjs88z"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qhlhx6lrnr0jf4zpvm788j7yeezau6s8q557p2z"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3NdX1S7rkAtddTMpunrh1wcYeFjsKyxkRc"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3BMEXyn3rFJwGH6tTVMgC9ERz8TdDhVLuv"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3PFgaikRuFXTKNNC42b3hyXxdKg7HRHA41"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qesy52g7ndy652qudr2awuk57mcaxgmn9qsmpzk"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1q9svj9wp68zftgejjgk6f96ukuyx8c5urkqsv69"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qanrl8n3flz4jftkscljx2hwuc3h50f9ynp2nyn"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qtpdptcf4ngfkwq6dr36kqaeh2n5h00rx5unkgc"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qvr2jxlmvckap7cg2l6mdgh5fa8glkhe4s88sax"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3KfKiJT5vNAdsmCLVXagSm9GKtiQRsYxEo"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3MpKfZZyf44myybX3M9y1sTKS5Mrs7e5JF"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "bc1qhqap39mpkldjzvqdf3204p732krtnf56mm9aj3"
        },
        {
            "source": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "target": "3ARiHh4ZB8gWRwwboAa9wkew6uBwKuVkUD"
        }
    ],
      nodes:[
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "3CTPRyUbCKkByGmAVvDV6ReZXT1WfV3UPd",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s",
            "type": "wallet"
        },
        {
            "id": "bc1qp6k6tux6g3gr3sxw94g9tx4l0cjtu2pt65r6xp",
            "type": "wallet"
        },
        {
            "id": "bc1qqp8pwq277d30cy7fjpvhcvhgztvs7v0nudgul5",
            "type": "wallet"
        },
        {
            "id": "32LZ4wWwEhTzwtqAm2gPauktYZb5kQ6C5a",
            "type": "wallet"
        },
        {
            "id": "3BMEXuoRza9EimRGSHGrwPmyFNUqWFpu8t",
            "type": "wallet"
        },
        {
            "id": "bc1qld27dqu6wrl4tmjdr8tl55qavmghwrr4ldh7qn",
            "type": "wallet"
        },
        {
            "id": "3BMEXtMSkRt3wwXKytg7Nj86utJeSbwFHx",
            "type": "wallet"
        },
        {
            "id": "bc1q8m9h3atn4cqeqhu3ekswdqxchp3g7d4v3qv3wm",
            "type": "wallet"
        },
        {
            "id": "14QZ2wB8b8ZQNgb978Lwptdc8Vhv5aZQM2",
            "type": "wallet"
        },
        {
            "id": "3L8JcsWNa3kuVaQJxAE1hhcoBT17rcJA6b",
            "type": "wallet"
        },
        {
            "id": "bc1q7p6edvd4zvtya8uj366c23dan8pvlp503spucu",
            "type": "wallet"
        },
        {
            "id": "bc1q93ecep2338dy9aauwyvh4g22t49rnedxl8z0tj",
            "type": "wallet"
        },
        {
            "id": "bc1ql0wlnu80l8kctjzkzlzd72sdjqwuvruvgepceq",
            "type": "wallet"
        },
        {
            "id": "bc1q3ldtrr6xtpx8jam5gw68aaexz2wtluj0qullvr",
            "type": "wallet"
        },
        {
            "id": "19GwykQiTA8PRD2vWJmRF8xiMdJw7SZZhU",
            "type": "wallet"
        },
        {
            "id": "1LmbAuieDKqZeQCUn8F5hrf87ocL3b1whA",
            "type": "wallet"
        },
        {
            "id": "3AiKChFEc5fpBvsi2Pr2YsFPWgrFeVQkXC",
            "type": "wallet"
        },
        {
            "id": "bc1qyv4zv0wjn299kx4yz6g7v6g6400wqgzcqgw9vx",
            "type": "wallet"
        },
        {
            "id": "17Bmh2aNne8sR9kRwMwDzWHAYeZaZPRm28",
            "type": "wallet"
        },
        {
            "id": "3DoSXzGZFbUnw4dC5Cwj7GZ7aKPLwFcKSg",
            "type": "wallet"
        },
        {
            "id": "3AoRjdkUFE4nfRtArRC8r1MnUjUPmuLdDP",
            "type": "wallet"
        },
        {
            "id": "3KBsR6Ld255Tw5hNR4S6KaX5SXxvRF6jv3",
            "type": "wallet"
        },
        {
            "id": "bc1q6fejm4r866tmt8ptf42juedv5gevlv2qt72agq",
            "type": "wallet"
        },
        {
            "id": "1L8ZtgE7tAuySsWhQn7SqdZwJPuMzqYmTx",
            "type": "wallet"
        },
        {
            "id": "1BsRYrL6FWjnX76nyvQUQXcv8QL2oZpJ6x",
            "type": "wallet"
        },
        {
            "id": "bc1qvstwzsrfml43jrclsp68220l4lx5lw3kwf7dp0",
            "type": "wallet"
        },
        {
            "id": "3DAJaTi9mZhHupEJ3ZEfAXCnXdqJmS8a5D",
            "type": "wallet"
        },
        {
            "id": "34djvfuqD127KsUDH6e5q4mJUHBzWK29ki",
            "type": "wallet"
        },
        {
            "id": "bc1qecs672j9dpvwr56zeldgf3swtlv3dad52wzuta",
            "type": "wallet"
        },
        {
            "id": "1P1198g3tN65qt9j5gixb2jsQpDvDwgFj3",
            "type": "wallet"
        },
        {
            "id": "bc1q8ezyqqntqf2tlt6ensx2zqhj50q0q9ashvx4jt",
            "type": "wallet"
        },
        {
            "id": "bc1qshkncv7tkpye7z0z4a3k9yw2e73whha9gjs88z",
            "type": "wallet"
        },
        {
            "id": "bc1qhlhx6lrnr0jf4zpvm788j7yeezau6s8q557p2z",
            "type": "wallet"
        },
        {
            "id": "3NdX1S7rkAtddTMpunrh1wcYeFjsKyxkRc",
            "type": "wallet"
        },
        {
            "id": "3BMEXyn3rFJwGH6tTVMgC9ERz8TdDhVLuv",
            "type": "wallet"
        },
        {
            "id": "3PFgaikRuFXTKNNC42b3hyXxdKg7HRHA41",
            "type": "wallet"
        },
        {
            "id": "bc1qesy52g7ndy652qudr2awuk57mcaxgmn9qsmpzk",
            "type": "wallet"
        },
        {
            "id": "bc1q9svj9wp68zftgejjgk6f96ukuyx8c5urkqsv69",
            "type": "wallet"
        },
        {
            "id": "bc1qanrl8n3flz4jftkscljx2hwuc3h50f9ynp2nyn",
            "type": "wallet"
        },
        {
            "id": "bc1qtpdptcf4ngfkwq6dr36kqaeh2n5h00rx5unkgc",
            "type": "wallet"
        },
        {
            "id": "bc1qvr2jxlmvckap7cg2l6mdgh5fa8glkhe4s88sax",
            "type": "wallet"
        },
        {
            "id": "3KfKiJT5vNAdsmCLVXagSm9GKtiQRsYxEo",
            "type": "wallet"
        },
        {
            "id": "3MpKfZZyf44myybX3M9y1sTKS5Mrs7e5JF",
            "type": "wallet"
        },
        {
            "id": "bc1qhqap39mpkldjzvqdf3204p732krtnf56mm9aj3",
            "type": "wallet"
        },
        {
            "id": "3ARiHh4ZB8gWRwwboAa9wkew6uBwKuVkUD",
            "type": "wallet"
        },
        {
            "id": "e8b406091959700dbffcff30a60b190133721e5c39e89bb5fe23c5a554ab05ea",
            "type": "transaction"
        }
    ]};

    const Graph = ForceGraph3D()
    (document.getElementById("3d-graph"))
    .nodeAutoColorBy('type')
    .nodeLabel(node => `${node.type}: ${node.id}`)
    .graphData(
      gData
    )
    .onNodeClick(node => {
          // Aim at node from outside it
          const distance = 40;
          const distRatio = 1 + distance/Math.hypot(node.x, node.y, node.z);

          const newPos = node.x || node.y || node.z
            ? { x: node.x * distRatio, y: node.y * distRatio, z: node.z * distRatio }
            : { x: 0, y: 0, z: distance }; // special case if node is in (0,0,0)

          Graph.cameraPosition(
            newPos, // new position
            node, // lookAt ({ x, y, z })
            3000  // ms transition duration
          );
        });
  </script>
</body>
