
<head>
  <style>
    body {
      margin: 0;
    }
  </style>

  <script src="https://unpkg.com/3d-force-graph"></script>
  <!--<script src="../../dist/3d-force-graph.js"></script>-->
</head>

<body>
  <div id="3d-graph"></div>

  <script>
    const N = 5;
    console.log([...Array(N).keys()].map((i) => ({ id: i })));
    console.log([...Array(N).keys()]);
    console.log(
      [...Array(N).keys()]
        .filter((id) => id)
        .map((id) => ({
          source: id,
          target: Math.round(Math.random() * (id - 1)),
        }))
    );
    const gData = {
      nodes: [
        { id: "wallet1", type: "wallet" },
        { id: "wallet2", type: "wallet" },
        { id: "transactionId", type: "transaction" },
      ],
      links: [
        { source: "wallet1", target: "transactionId" },
        { source: "wallet2", target: "transactionId" },
      ],
    };

    const Graph = ForceGraph3D()(document.getElementById("3d-graph")).graphData(
      gData
    );
  </script>
</body>
