<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/neo4j-driver"></script>
    <script src="https://cdn.jsdelivr.net/npm/neosig@1.2.2/docs/neosig-1.2.2.js"></script>
    <script>
      // Initiate Sigma
      function loadSigma() {
        console.log("Loading Sigma");
        var s = new sigma({
          renderer: {
            container: document.getElementById("sigma-container"),
            type: "canvas",
          },
          settings: {
            edgeLabelSize: "proportional",
            minArrowSize: 5,
            labelThreshold: 15,
          },
        });

        var neo4jConfig = {
          url: "bolt://localhost:7687",
          user: "neo4j",
          password: "adminadmin",
        //   driver: {
        //     encrypted: true,
        //     trust: "TRUST_CUSTOM_CA_SIGNED_CERTIFICATES",
        //   },
        };

        var style = {
          labels: {
            Wallet: {
              label: "wallet",
              color: "#654321",
              size: 10,
              icon: {
                name: "f007",
                color: "#FFF",
                scale: 1.0,
              },
            },
            Transaction: {
              label: "transaction",
              color: "#123456",
              size: 10,
              icon: {
                name: "f008",
                color: "#FFF",
                scale: 1.0,
              },
            },
          },
          edges: {
            RECEIVED: {
              color: "#040404",
              size: 1,
              label: "roles",
            },
            SENT: {
              color: "#040404",
              size: 1,
              label: "roles",
            },
          },
        };

        Neo4jGraph(
          neo4jConfig,
          style,
          "MATCH (n)-[r]->(m) RETURN n,r,m",
          {}
        ).then(function (result) {
          // load the graph
          s.graph.read(result);
          // enable drag'n'drop
          sigma.plugins.dragNodes(s, s.renderers[0]);
          // start layout
          s.startForceAtlas2();
          setTimeout(() => {
            s.stopForceAtlas2();
          }, Math.log(result.nodes.length * result.edges.length) * 1000);
        });
      }
    </script>
  </head>
  <body onload="loadSigma()">
    <div
      id="sigma-container"
      style="
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
      "
    ></div>
  </body>
</html>
